<style>
#TOC {
    background: url("http://epigenomics.sdsc.edu:8000/static/images/CFE_Brandmark-01.png");
    background-size: contain;
    padding-top: 80px !important;
    background-repeat: no-repeat;
}
</style>
